body{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
   height:20vh;
   bottom: 0;
   width: 100%;
   padding: 1em 0;
   margin-top: auto;
}
.logo{
    display:flex
}
.logo img{
    height: 75px;
    align-items: flex-end;
}